In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"a":10,"b":20,"c":30}

In [4]:
labels

['a', 'b', 'c']

In [5]:
my_data

[10, 20, 30]

In [6]:
arr

array([10, 20, 30])

In [7]:
d

{'a': 10, 'b': 20, 'c': 30}

# Just do this

In [8]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
# 0 1 2 are index

In [10]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data,labels) # First data second index

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr,labels) # arr also work

a    10
b    20
c    30
dtype: int32

In [17]:
pd.Series(d) #dict also work

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [19]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],index = ["USA","Germany","USSR","Japan"])

In [21]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],["USA","Germany","Italy","Japan"])

In [24]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [25]:
ser1["USA"]

1

In [27]:
ser3 = pd.Series(data=labels)

In [28]:
ser3

0    a
1    b
2    c
dtype: object

In [29]:
ser3[1]

'b'

In [30]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [31]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [33]:
ser1 + ser2 # Italy and USSR is not in both!

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64