In [37]:
"video1"

'video1'

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
np.random.seed(101)

In [3]:
# Create DataFrame

In [4]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["W","X","Y","Z"] )

In [5]:
df #First data, Second Index, Column

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df["W"] #In DataFrame ["Column"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
df["A"] # See not Working

KeyError: 'A'

In [8]:
df["X"]

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [9]:
df[["W","X"]]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [10]:
type(df[["W","X"]])

pandas.core.frame.DataFrame

In [11]:
# Create New Column

In [12]:
df["New"] = df["W"] + df["Y"]

In [13]:
df["New2"] = [1,2,3,4,5]

In [14]:
df

          W         X         Y         Z       New  New2
A  2.706850  0.628133  0.907969  0.503826  3.614819     1
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     2
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     3
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     4
E  0.190794  1.978757  2.605967  0.683509  2.796762     5

In [15]:
# Drop Column

In [16]:
df.drop("New2",axis = 1)

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [17]:
df

          W         X         Y         Z       New  New2
A  2.706850  0.628133  0.907969  0.503826  3.614819     1
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     2
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     3
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     4
E  0.190794  1.978757  2.605967  0.683509  2.796762     5

In [18]:
# This is not work

In [19]:
# We need to work inplace=True

In [20]:
df.drop("New2",axis = 1,inplace=True)

In [21]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [22]:
# drop axis

In [23]:
df.drop("E",axis = 0)

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

In [24]:
df # For real drop inplace = True

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [25]:
df["Y"]

A    0.907969
B   -0.848077
C    0.528813
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [26]:
df[["Z","X"]]

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
C -0.589001  0.740122
D  0.955057 -0.758872
E  0.683509  1.978757

In [27]:
# Rows    .loc[]

In [28]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [29]:
df.loc["A"]

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
New    3.614819
Name: A, dtype: float64

In [30]:
df.iloc[0]

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
New    3.614819
Name: A, dtype: float64

In [31]:
# Find row and column

In [32]:
df.loc["B","Y"]

-0.8480769834036315

In [33]:
df.loc[["A","B"],"Y"]

A    0.907969
B   -0.848077
Name: Y, dtype: float64

In [34]:
df.loc[["B","C"],["X","Z"]]

          X         Z
B -0.319318  0.605965
C  0.740122 -0.589001

In [35]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [36]:
df.loc("F") = df.loc("B") + df.loc("C")

SyntaxError: cannot assign to function call (3429461470.py, line 1)

In [38]:
"video2"

'video2'