In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,["A","B"])

In [6]:
df

             A         B
G1 1  0.161956  0.770567
   2  1.731507  0.120455
   3 -1.033457 -0.212805
G2 1 -0.027272 -0.243837
   2  0.973754 -0.058019
   3 -2.033166  0.731077

In [7]:
df.loc["G1"]

          A         B
1  0.161956  0.770567
2  1.731507  0.120455
3 -1.033457 -0.212805

In [8]:
df.loc["G1"].loc[1]

A    0.161956
B    0.770567
Name: 1, dtype: float64

In [9]:
df.index.names

FrozenList([None, None])

In [10]:
df.index.names = ["Groups","Num"]

In [11]:
df

                   A         B
Groups Num
G1     1    0.161956  0.770567
       2    1.731507  0.120455
       3   -1.033457 -0.212805
G2     1   -0.027272 -0.243837
       2    0.973754 -0.058019
       3   -2.033166  0.731077

In [12]:
df["B"]["G2"][2]  # önce Column sonra Row

-0.0580194598809257

In [13]:
df

                   A         B
Groups Num
G1     1    0.161956  0.770567
       2    1.731507  0.120455
       3   -1.033457 -0.212805
G2     1   -0.027272 -0.243837
       2    0.973754 -0.058019
       3   -2.033166  0.731077

In [14]:
df.loc["G2"].loc[2]["B"] #Önce row sonra column

-0.0580194598809257

In [15]:
# Or

In [16]:
df

                   A         B
Groups Num
G1     1    0.161956  0.770567
       2    1.731507  0.120455
       3   -1.033457 -0.212805
G2     1   -0.027272 -0.243837
       2    0.973754 -0.058019
       3   -2.033166  0.731077

In [17]:
df.loc["G1"]

            A         B
Num
1    0.161956  0.770567
2    1.731507  0.120455
3   -1.033457 -0.212805

In [18]:
df.xs("G1") # Or

            A         B
Num
1    0.161956  0.770567
2    1.731507  0.120455
3   -1.033457 -0.212805

In [19]:
df.xs(1, level = "Num") # Perfect

               A         B
Groups
G1      0.161956  0.770567
G2     -0.027272 -0.243837