In [1]:
 """
 ------> axis = 1
 |
 |
 |
 v
axis = 0
""";

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([[1.4, np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                  index = ["a","b","c","d"],
                 columns = ["one", "two"])

In [4]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [6]:
df.sum(axis = 0)

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis = 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [9]:
df.mean(axis = 0)

one    3.083333
two   -2.900000
dtype: float64

In [10]:
df.mean(axis = 1)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [11]:
# Or skipna = True

In [12]:
df.mean(axis = 1, skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [13]:
df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [14]:
# df.idxmax()
# df.cumsum()

In [15]:
df.idxmax()  # give index of max value

one    b
two    d
dtype: object

In [16]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [17]:
df.describe() # numeric data

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [18]:
obj = pd.Series(["a","a","b","c"]*4)

In [19]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

### Correlation and Covariance

Kitaptan Oku

### Unique Values, Value Counts, and Membership

In [24]:
# obj.unique()

In [20]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [21]:
uniques = obj.unique()

In [22]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [23]:
# Return array

In [25]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [29]:
# or write

In [32]:
pd.value_counts(obj.values)

c    3
a    3
b    2
d    1
dtype: int64