In [ ]:
 """
 ------> axis = 1
 |
 |
 |
 v
axis = 0
""";

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
     [np.nan, np.nan], [0.75, -1.3]],
     index=['a', 'b', 'c', 'd'],
     columns=['one', 'two'])

In [3]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [4]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [5]:
df.sum(axis = 0)

one    9.25
two   -5.80
dtype: float64

In [6]:
df.sum(axis = 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [7]:
df.mean(axis = 1, skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [8]:
df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [9]:
df.idxmax()

one    b
two    d
dtype: object

In [10]:
## Return max

In [11]:
df.idxmin()

one    d
two    b
dtype: object

In [12]:
## Return min

In [14]:
df.cumsum()  # Aşağı doğru toplaya toplaya iniyorsun

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [15]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [16]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)

In [17]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

## Correlation and Covariance

Kitapta oku

### Unique Values, Value Counts, and Membership

Kitapta oku

In [18]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [19]:
uniques = obj.unique()

In [21]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [22]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [23]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64