In [1]:
import numpy as np
import pandas as pd

In [2]:
## Series.xs(self, key, axis=0, level=None, drop_level=True)

In [3]:
d = {'num_legs': [4, 4, 4, 2, 2],
     'num_wings': [0, 0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird', 'bird'],
     'animal': ['tiger', 'lion', 'fox', 'eagle', 'penguin'],
     'locomotion': ['walks', 'walks', 'walks', 'flies', 'walks']}

In [4]:
df = pd.DataFrame(data = d)

In [5]:
df

   num_legs  num_wings   class   animal locomotion
0         4          0  mammal    tiger      walks
1         4          0  mammal     lion      walks
2         4          0  mammal      fox      walks
3         2          2    bird    eagle      flies
4         2          2    bird  penguin      walks

In [9]:
df.set_index(["class","animal","locomotion"],inplace = True)

In [10]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal tiger   walks              4          0
       lion    walks              4          0
       fox     walks              4          0
bird   eagle   flies              2          2
       penguin walks              2          2

In [11]:
df.xs("mammal")

                   num_legs  num_wings
animal locomotion
tiger  walks              4          0
lion   walks              4          0
fox    walks              4          0

In [16]:
df.xs(("mammal","fox"))

C:\Users\sinan\AppData\Local\Temp\ipykernel_17256\1829780206.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.xs(("mammal","fox"))

            num_legs  num_wings
locomotion
walks              4          0

In [17]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal tiger   walks              4          0
       lion    walks              4          0
       fox     walks              4          0
bird   eagle   flies              2          2
       penguin walks              2          2

In [20]:
df.xs(level = "animal" , key = "lion")

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [21]:
df.xs("lion",level = 1)

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [24]:
df.xs(("bird","walks") , 
      level = [0,"locomotion"])

         num_legs  num_wings
animal
penguin         2          2

In [25]:
df.xs("num_wings" , axis = 1)

class   animal   locomotion
mammal  tiger    walks         0
        lion     walks         0
        fox      walks         0
bird    eagle    flies         2
        penguin  walks         2
Name: num_wings, dtype: int64

In [26]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal tiger   walks              4          0
       lion    walks              4          0
       fox     walks              4          0
bird   eagle   flies              2          2
       penguin walks              2          2