## Introspection

In [73]:
b = (1,2,3)
b?

Type:        tuple
String form: (1, 2, 3)
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [72]:
list?

Init signature: list(iterable=(), /)
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
Type:           type
Subclasses:     _HashedSeq, StackSummary, DeferredConfigList, _ymd, SList, _ImmutableLineList, FormattedText, NodeList, _ExplodedList, Stack, ...

In [79]:
def func1():
    print("Hello World")
func1??

Signature: func1()
Docstring: <no docstring>
Source:
def func1():
    print("Hello World")
File:      c:\users\snnfb\appdata\local\temp\ipykernel_10176\1004796363.py
Type:      function

### Escape Sequence 
```python
\n --- new line
\t --- tab
``` 
is important ones, work in print

In [1]:
print("Sinan\nÇavuşoğlu")

Sinan
Çavuşoğlu

### print() parameter
1) sep = " "

In [3]:
print("Sinan","Çavuşoğlu",sep = "-")
print("T","C",sep = ".")

Sinan-Çavuşoğlu
T.C

2) end = " "

In [4]:
print("İsin","Soyad",end = "?")

İsin Soyad?

3) star parameter

In [5]:
print(*"Sinan")

S i n a n

### .format()

In [7]:
print("İsim = {}, Soyad = {}".format("Sinan","Çavuşoğlu"))

İsim = Sinan, Soyad = Çavuşoğlu

### Round the Number with .format()

In [8]:
a = 3.1463
print("{:.2f}".format(a))
print("{:.3f}".format(a))

3.15
3.146

In [9]:
# Or
print("%.2f"%a)

3.15

## fstring

In [80]:
x = 23
yaş = f"Sinan {x} yaşındadır"
print(yaş)

Sinan 23 yaşındadır

## Some Built-In Function

#### len()
The argument may be a sequence 
(such as a string, bytes, tuple, list, or range) 
or a collection 
(such as a dictionary, set, or frozen set).

#### abs() ---> Absolute Value
#### pow() ---> Exponential

#### range()

In [13]:
print(*range(3))
print(*range(3,10))
print(*range(1,11,3))

0 1 2
3 4 5 6 7 8 9
1 4 7 10

### eval()

In [14]:
x = eval(input())
print(type(x))

<class 'tuple'>

In [15]:
y = eval(input())
print(type(y))

<class 'list'>

#### max(), min() and sum() ---> list and tuple

#### Conditional - Repetitive

In [16]:
list1 = [[1,2],[3,4]]
for i,j in list1:
    print(i,j)

1 2
3 4

In [19]:
sözlük = {"bir":1, "iki":2, "üç":3}
for i in sözlük.keys():
    print(i)
for i in sözlük.values():
    print(i)
for i,j in sözlük.items():
    print(i,j)

bir
iki
üç
1
2
3
bir 1
iki 2
üç 3

### List Comprehension

In [27]:
list1 = [i**2 for i in range(8)]
list2 = [i**2 for i in range(8) if i%2 == 0]
list3 = [0 if i%2 == 0 else 1 for i in range(8)]
print(list1, list2, list3, sep = "\n")

[0, 1, 4, 9, 16, 25, 36, 49]
[0, 4, 16, 36]
[0, 1, 0, 1, 0, 1, 0, 1]

In [37]:
list1 = [[0 for j in range(3)] for i in range(4)]
list2 = [[1 for j in range(3) if i == j] for i in range(3)]
list3 = [[(i,j) for j in range(3)] for i in range(4)]
list4 = [[0 if (i+j)%2 else 1 for j in range(3) ] for i in range(4)]
list5 = [[j + 3*i for j in range(3)] for i in range(4)]

In [38]:
print(list1, list2,list3,list4,list5,sep = "\n")

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[1], [1], [1]]
[[(0, 0), (0, 1), (0, 2)], [(1, 0), (1, 1), (1, 2)], [(2, 0), (2, 1), (2, 2)], [(3, 0), (3, 1), (3, 2)]]
[[1, 0, 1], [0, 1, 0], [1, 0, 1], [0, 1, 0]]
[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

## Function

## Predefined Parameters

In [35]:
def hello(end,start = "Hello"):
    print(start + " " + end)
hello("Sinan")

Hello Sinan

#### Global

In [7]:
def func1():
    a = 10 #Local Variable
    print(a)
print(a) # Not Define

NameError: name 'a' is not defined

In [8]:
b = 5 
def func2():
    a = b
    print(b,"function")
func2():

SyntaxError: invalid syntax (2141082430.py, line 5)

In [10]:
b = 5
def func2():
    a = b
    print(b,"b")
func2()
print(a) # Still local

5 b

NameError: name 'a' is not defined

In [12]:
c = 10
def func3():
    c = 2
    print(c,"function(local) c")
func3()
print(c,"global c")

2 function(local) c
10 global c

In [15]:
d = 5
def func4():
    global d
    d = 3 #globalde ki d yi değiştirdi
    print(d,"func d")
func4()
print(d, "global")

3 func d
3 global

global variable change the global value!

## More About Built-In Function

## lambda

In [16]:
multp_2 = lambda x : x*2

In [18]:
multp_2(5) # return özelliği var

10

## map(function,iter)

In [19]:
map_list = map(lambda x: 0 if x%2 == 0 else 1, [1,-1,24,3,7,56,1234,434,98])

In [20]:
map_list

In [22]:
map_list = list(map_list)
print(map_list)

[1, 1, 0, 1, 1, 0, 0, 0, 0]

## Operation on 2 List

In [25]:
list1 = [1,2,3,4]
list2 = [1,2,3,4,5]
new_list = map(lambda x,y: x*y,list1,list2)
print(list(new_list)) # en az olan işleme göre

[1, 4, 9, 16]

## filter(func,list)

In [26]:
list(filter(lambda x: x%2 == 0,[1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

## zip(list1,list2)

In [27]:
liste1 = [1,2,3,4,5]
liste2 = ["one","two","three","four","five"]
list(zip(list1,list2))

[(1, 1), (2, 2), (3, 3), (4, 4)]

# Enumarate(list1)

In [33]:
liste = ["a","b","c","d","e"]
print(list(enumerate(liste)))
print(list(enumerate(liste,start = 5)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]
[(5, 'a'), (6, 'b'), (7, 'c'), (8, 'd'), (9, 'e')]

# Recursion

In [36]:
def fact(N):
    if N == 0:
        return 1
    else:
        return N * fact(N-1)

In [37]:
fact(5)

120

## Random Module

```python
.random()
.uniform()
.randint()
.randrange()
.choice()
.shuffle()
.sample()
```

In [38]:
import random

In [43]:
for i in range(5):    #Return random number in the range[0,1)
    print(random.random())

0.2725092388888428
0.5626915857018269
0.4180065669200461
0.8499076191170034
0.970532782801377

In [45]:
for i in range(5):          #Return random number in the range[a,b]
    print(random.uniform(10,30))

10.531935077186667
12.794838025315471
12.204112653454686
18.732932123027744
14.733732604352818

In [51]:
for i in range(5):  # Return random integers between [a,b]
    print(random.randint(1,5))

3
4
2
1
1

In [55]:
for i in range(5):
    print(random.randrange(1,15,3)) # [1,15) 3 step

4
10
10
4
7

In [57]:
list1 = ["a","b","c","d","e","f","g","h"]
print(random.choice(list1))

d

In [62]:
random.shuffle(list1)
print(list1)
# Yalnız şu none veriyor list1_shuffle = random.shuffle(list1)

['g', 'd', 'e', 'c', 'f', 'b', 'a', 'h']

In [70]:
print(random.sample(list1,3)) 
# choose random distinct 3 elemnent from list and return list

['h', 'f', 'e']

## OOP
#### CLASS

In [1]:
class Araba():
    model = "Renault Megane"
    renk = "Gümüş"
    beygir_gücü = 110   #These are attribute
    silindir = 4

In [2]:
Araba()

In [4]:
print(Araba().model)
print(Araba().renk)
print(Araba().beygir_gücü)
print(Araba().silindir)
araba1 = Araba()
print(araba1.renk)

Renault Megane
Gümüş
110
4
Gümüş

# __ init __()

This method called when an object is created from the class and it allow the class to initialize the attributes of a class.

In [5]:
class Araba():
    def __init__(self,model,renk,silindir,beygir_gücü):
        self.model = model
        self.renk = renk
        self.silindir = silindir
        self.beygir_gücü = beygir_gücü

the magic keyword "self"  represents the instance of the class. It binds the attributes with the given arguments.

Use self everywhere

In [6]:
araba1 = Araba("Corrola","Kırmızı",4,130)

In [7]:
print(araba1.model)
print(araba1.renk)
print(araba1.silindir)

Corrola
Kırmızı
4

In [9]:
Araba?

Init signature: Araba(model, renk, silindir, beygir_gücü)
Docstring:      <no docstring>
Type:           type
Subclasses:

In [12]:
araba2 = Araba(beygir_gücü=90,model ="Corsa",renk="Siyah",silindir = 2)

In [13]:
araba2.model

'Corsa'

## OOP Example

In [14]:
class shape():
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def set_color(self,red,green,blue):
        self.color = (red,green,blue)
    
    def move_to(self,x,y):
        self.x = x
        self.y = y
    def __str__(self):
        return "Coordinate = ({},{}) and RGB Decimal = {}".format(self.x,self.y,self.color)

```python
def __str__(self):
    return ... # evoke print()
```

In [15]:
player1 = shape(20,30)
player1.set_color(0,255,10)

In [17]:
print(player1)

Coordinate = (20,30) and RGB Decimal = (0, 255, 10)

##### Example: Rational Number
https://docs.python.org/3/reference/datamodel.html#special-method-names

In [21]:
import math
class rational_number():
    def __init__(self,x,y):
        if y == 0:
            raise ZeroDivisionError
        else:
            self.x = x
            self.y = y
            self.simplify()
        def simplify(self):
            if self.x == 0:
                self.y = 1
                return
            gcd = math.gcd(self.x,self.y)
            self.x = self.x // gcd
            self.y = self.y // gcd
        def __str__(self):
            return "{}/{}".format(self.x,self.y)
        def __mul__(self,rhs):
            retval = rational_number(self.x * rhs.x, self.y * rhs.y)
            return retval
        def __add__(self,rhs):
            retval = rational_number(self.x*rhs.y+self.y*rhs.x,self.y*rhs.y)
            return retval
        def __truediv__(self,rhs):
            retval = rational_number(self.x * rhs.y, self.y * rhs.x)
            return retval
        def __eq__(self,rhs):
            return self.x*rhs.y == self.y*rhs.x
        def __ne__(self,rhs):
            return self.x*rhs.y != self.y*rhs.x
        def __lt__(self,rhs):
            return self.x*rhs.y < self.y*rhs.x
        def __le__(self,rhs):
            return self.x*rhs.y <= self.y*rhs.x
        def __gt__(self,rhs):
            return self.x*rhs.y > self.y*rhs.x
        def __ge__(self,rhs):
            return self.x*rhs.y > self.y*rhs.x
        def __abs__(self):
            self.x = abs(self.x)
            self.y = abs(self.y)

# Method of String
string doesn't change the variable

#### .format()

In [18]:
print("My name is {}".format("Sinan"))
print("I like {0} and {1}".format("Python","Java")) # Same as above
print("I like {1} and {0}".format("TensorFlow","Pandas")) # Index can be any order

My name is Sinan
I like Python and Java
I like Pandas and TensorFlow

### Use format with list and dict
list and tuple ---> *list, *tuple
dict ---> **dict

In [21]:
t = ("Java","Python")
print("I like {} and {}".format(*t))

I like Java and Python

In [23]:
d = {"name": "Pankaj", "job": "CEO", "company": "JournalDev"}
print("{company} {job} is {name}".format(**d))

JournalDev CEO is Pankaj

### Formatted String with Padding and Alignment

In [34]:
print("{:^30}".format("data center aligned"))
print("{:30}".format("data without align"))
print("{:<30}".format("data left aligned"))
print("{:>30}".format("data right aligned"))
print("{:|^30}".format("data with fill character"))

     data center aligned
data without align
data left aligned
            data right aligned
|||data with fill character|||

### .split()

In [1]:
s = "Python is Nice"
str_list = s.split() # Seperate empty space
print(str_list)
str_list = s.split("is")
print(str_list)
str_list = s.split(" is ")
print(str_list)

['Python', 'is', 'Nice']
['Python ', ' Nice']
['Python', 'Nice']

In [2]:
s2 = "  Java    Python iOS      Android"
str_list = s2.split()
print(str_list)

['Java', 'Python', 'iOS', 'Android']

### .join()

In [4]:
tuple_vowels = ('a', 'e', 'i', 'o', 'u')
vowels_str = "".join(tuple_vowels)
print(vowels_str)
string = 'Hello'
print(f'String characters are: {",".join(string)}')

aeiou
String characters are: H,e,l,l,o

### .strip()

strip(): Returns a new string after removing any leading and trailling whitespaces including tabs(\t)

rstrip(): returns a new string with trailing whitespace removed. 
It’s easier to remember as removing white spaces from 
“right” side of the string.


lstrip(): returns a new string with leading whitespace removed, 
or removing whitespaces from the “left” side of the string.

In [19]:
s1 = "  Sinan  "
print(s1.strip())
print(s1.rstrip())
print(s1.lstrip())
s2 ="efbeaefe"
print(s2.strip("efa"))  # Sağdan ve soldan e,f,a gördüklerini 
                        # temizleyerek gelir

Sinan
  Sinan
Sinan
b

## .format_map()

In [21]:
s = 'My name is {name} and I am a {job_title}'

my_dict = {'name': 'Pankaj', 'job_title': 'Software Engineer'}

print(s.format_map(my_dict))
print(s.format(**my_dict))   # Same

My name is Pankaj and I am a Software Engineer
My name is Pankaj and I am a Software Engineer

## .find()

In [23]:
s = "abcd1234"
print(s.find("a"))  # ne zaman "a" yı bulursa hemen o indexi döner 
print(s.find("a",1)) # 1. indexten sonra gider

0
-1

## .count()

In [26]:
string = 'I like Python programming. Python is Awesome!'
print(string.count("Python"))
x = "Sinan Çavuşoğlu"
print(x.count("a",4))
print(x.count("t"))

2
1
0

## .index()

In [27]:
s = "abcd1234dcba"
print(s.index("a"))
print(s.index("cd"))
print(s.index("d",4,9))

0
2
8

In [28]:
"""
1	capitalize()
Capitalizes first letter of string

2	center(width, fillchar)
Returns a space-padded string with the original string centered to a total of width columns.

3	count(str, beg= 0,end=len(string))
Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

4	decode(encoding='UTF-8',errors='strict')
Decodes the string using the codec registered for encoding. encoding defaults to the default string encoding.

5	encode(encoding='UTF-8',errors='strict')
Returns encoded string version of string; on error, default is to raise a ValueError unless errors is given with 'ignore' or 'replace'.

6	endswith(suffix, beg=0, end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.

7	expandtabs(tabsize=8)
Expands tabs in string to multiple spaces; defaults to 8 spaces per tab if tabsize not provided.

8	find(str, beg=0 end=len(string))
Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

9	index(str, beg=0, end=len(string))
Same as find(), but raises an exception if str not found.

10	isalnum()
Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

11	isalpha()
Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.

12	isdigit()
Returns true if string contains only digits and false otherwise.

13	islower()
Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

14	isnumeric()
Returns true if a unicode string contains only numeric characters and false otherwise.

15	isspace()
Returns true if string contains only whitespace characters and false otherwise.

16	istitle()
Returns true if string is properly "titlecased" and false otherwise.

17	isupper()
Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

18	join(seq)
Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

19	len(string)
Returns the length of the string

20	ljust(width[, fillchar])
Returns a space-padded string with the original string left-justified to a total of width columns.

21	lower()
Converts all uppercase letters in string to lowercase.

22	lstrip()
Removes all leading whitespace in string.

23	maketrans()
Returns a translation table to be used in translate function.

24	max(str)
Returns the max alphabetical character from the string str.

25	min(str)
Returns the min alphabetical character from the string str.

26	replace(old, new [, max])
Replaces all occurrences of old in string with new or at most max occurrences if max given.

27	rfind(str, beg=0,end=len(string))
Same as find(), but search backwards in string.

28	rindex( str, beg=0, end=len(string))
Same as index(), but search backwards in string.

29	rjust(width,[, fillchar])
Returns a space-padded string with the original string right-justified to a total of width columns.

30	rstrip()
Removes all trailing whitespace of string.

31	split(str="", num=string.count(str))
Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.

32	splitlines( num=string.count('\n'))
Splits string at all (or num) NEWLINEs and returns a list of each line with NEWLINEs removed.

33	startswith(str, beg=0,end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

34	strip([chars])
Performs both lstrip() and rstrip() on string.

35	swapcase()
Inverts case for all letters in string.

36	title()
Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.

37	translate(table, deletechars="")
Translates string according to translation table str(256 chars), removing those in the del string.

38	upper()
Converts lowercase letters in string to uppercase.

39	zfill (width)
Returns original string leftpadded with zeros to a total of width characters; intended for numbers, zfill() retains any sign given (less one zero).

40	isdecimal()
Returns true if a unicode string contains only decimal characters and false otherwise.
""";

# Method of List

### Change - Insert List without Method

In [1]:
l1 = [1,2,3]
l1 += [4]
l1

[1, 2, 3, 4]

In [2]:
l2 = [1,2,3,4,5,6]
l2[2] = 33
l2

[1, 2, 33, 4, 5, 6]

In [3]:
l3 = [1,2,3,4,5,6]
l3[:2] = [10,11]
print(l3)

[10, 11, 3, 4, 5, 6]

## Deletion from List

In [4]:
liste = [1,2,3,4,5,6]
liste[1:5] = []  # Change list form index 1 to 5 with []
liste

[1, 6]

In [5]:
liste1 = [1,2,3]
liste2 = [4,5,6]
liste1 += liste2
print(liste1)
liste3 = liste1*4
print(liste3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [6]:
"""
Sr.No.	Methods with Description
1	list.append(obj)
Appends object obj to list (end of the list)

2	list.count(obj)
Returns count of how many times obj occurs in list

3	list.extend(seq)
Appends the contents of seq to list

4	list.index(obj)
Returns the lowest index in list that obj appears

5	list.insert(index, obj)
Inserts object obj into list at offset index

6	list.pop(obj=list[-1])
Removes and returns last object or obj from list

7	list.remove(obj)
Removes object obj from list

8	list.reverse()
Reverses objects of list in place

9	list.sort([func])
Sorts objects of list, use compare func if given""";

## .append()

In [7]:
aile = ["Mustafa","Tuba","Efe"]
aile.append("Sinan")
aile

['Mustafa', 'Tuba', 'Efe', 'Sinan']

## .insert(index,obj)

In [8]:
liste = [1,2,3,4,5]
liste.insert(len(liste),6)
print(liste)
liste.insert(0,0)
print(liste)
liste.insert(4,3.5)
print(liste)

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 3.5, 4, 5, 6]

## .extend()

In [10]:
x1 = [1,2,3,4,5]
x2 = [6,7,8]
x3 = [9]
x1.extend(x2)
x1

[1, 2, 3, 4, 5, 6, 7, 8]

## .pop()

In [11]:
liste1 = [1,2,3,4,5,6,7,8,9]
liste1.pop() # Sondaki elemanı atıyor

9

In [12]:
liste1.pop(1)  #index 1 i atıyor

2

In [13]:
liste1

[1, 3, 4, 5, 6, 7, 8]

## .remove()

In [14]:
liste=[1,2,3,4,5,"a"]
liste.remove("a") #verilen elemanı atıyor
liste

[1, 2, 3, 4, 5]

## .index()

In [15]:
liste = [1,2,3,4,5]
liste.index(5) #en baştan başlayınca bulduğunda söylüyor

4

## .count()

In [16]:
liste2 = [1,2,3,4,5,5,6,1,2,3,1,2,32,2]
liste2.count(2)

4

## .sort()

In [17]:
liste = [1,2,1234,2,4,2,12351,2,444,53,52,52,2,3,78]
liste.sort()   #Küçükten büyüğe
print(liste)

[1, 2, 2, 2, 2, 2, 3, 4, 52, 52, 53, 78, 444, 1234, 12351]

In [18]:
liste.sort(reverse = True) #Büyükten Küçüğe
liste

[12351, 1234, 444, 78, 53, 52, 52, 4, 3, 2, 2, 2, 2, 2, 1]

# Dictionary
Mutable

Key: Immutable Elements: Numbers, String or Tuple

In [1]:
dict1 = {34:"istanbul",
         58:"sivas",
 "istanbul":[[7,"tepeli","sehir"],(41.0383,28.9703),34,15.5e6],
 "murtaza abi":"sivas",
 ("ahmet",(8,14)):"almanya",
 "james bond":7,
 ("ahmet",(1,6)):["anne","anneanne"],
 ("ahmet",7):"sivas",
 "karsiyaka":35.5}

## add value

In [2]:
dict1["sinan"] = "efe"

In [3]:
dict1

{34: 'istanbul',
 58: 'sivas',
 'istanbul': [[7, 'tepeli', 'sehir'], (41.0383, 28.9703), 34, 15500000.0],
 'murtaza abi': 'sivas',
 ('ahmet', (8, 14)): 'almanya',
 'james bond': 7,
 ('ahmet', (1, 6)): ['anne', 'anneanne'],
 ('ahmet', 7): 'sivas',
 'karsiyaka': 35.5,
 'sinan': 'efe'}

## Accessing Items

In [4]:
dict1[34]

'istanbul'

In [5]:
dict1[("ahmet",7)]

'sivas'

## Methods of Dict

## .keys()

In [6]:
dict1.keys()

dict_keys([34, 58, 'istanbul', 'murtaza abi', ('ahmet', (8, 14)), 'james bond', ('ahmet', (1, 6)), ('ahmet', 7), 'karsiyaka', 'sinan'])

In [8]:
list_key = list(dict1.keys())
print(list_key)

[34, 58, 'istanbul', 'murtaza abi', ('ahmet', (8, 14)), 'james bond', ('ahmet', (1, 6)), ('ahmet', 7), 'karsiyaka', 'sinan']

## .values()

In [10]:
dict1.values()

dict_values(['istanbul', 'sivas', [[7, 'tepeli', 'sehir'], (41.0383, 28.9703), 34, 15500000.0], 'sivas', 'almanya', 7, ['anne', 'anneanne'], 'sivas', 35.5, 'efe'])

In [12]:
list_values = list(dict1.values())
print(list_values)

['istanbul', 'sivas', [[7, 'tepeli', 'sehir'], (41.0383, 28.9703), 34, 15500000.0], 'sivas', 'almanya', 7, ['anne', 'anneanne'], 'sivas', 35.5, 'efe']

## .items()

In [14]:
# Tuple olarak yazar
dict1.items()
print(list(dict1.items()))

[(34, 'istanbul'), (58, 'sivas'), ('istanbul', [[7, 'tepeli', 'sehir'], (41.0383, 28.9703), 34, 15500000.0]), ('murtaza abi', 'sivas'), (('ahmet', (8, 14)), 'almanya'), ('james bond', 7), (('ahmet', (1, 6)), ['anne', 'anneanne']), (('ahmet', 7), 'sivas'), ('karsiyaka', 35.5), ('sinan', 'efe')]

## .update() change dictionary

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

## .fromkeys()

The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [17]:
x = ("key1","key2","key3")
y = (1,2,3)
dict2 = dict.fromkeys(x,y)
print(dict2)

{'key1': (1, 2, 3), 'key2': (1, 2, 3), 'key3': (1, 2, 3)}

# pop() at least one element

In [20]:
"""The pop() method removes the specified item from the dictionary.

The value of the removed item is the return value of the pop() method, see example below.


dictionary.pop(keyname, defaultvalue)""";

In [21]:
dict2 = {"brand":"Ford","model":"Mustang","year":1964}
dict2.pop("year")
print(dict2)

{'brand': 'Ford', 'model': 'Mustang'}